.pdfFooter {
    text-align: center;
    margin-top: 15px;
}

.pdfPageButtons {
    text-align: center;
    margin-bottom: 15px;
}

.pdf {
    :global {
        .react-pdf__Page {
            text-align: center;
        }
        .react-pdf__Page__canvas {
            display: inline-block !important;
        }
    }
}

.pdfSpin {
    text-align: center;
}

.pdfFullView {
    top: 0 !important;
    padding-bottom: 0 !important;
    :global {
        .ant-modal-content {
            height: 100vh;
            border-radius: 0;
        }
        .ant-modal-body {
            padding: 0;
            height: calc(100% - 53px);
        }
    }
}
